@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,200;1,400;1,500;1,1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Nunito";
  src: url("/static/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
} */

* {
  font-family: "Nunito";
  font-weight: 600;
  /* font-size: 1.1rem; */
}
